.content {
  background: linear-gradient(
    to right,
    var(--color-dark-grey),
    var(--color-grey),
    var(--color-dark-grey)
  );
}

.imageBox,
.videoBox {
  margin-top: var(--margine-small);
  box-shadow: 10px 5px 5px var(--color-black);
  padding: var(--padding-small);
  justify-content: space-between;
}

.xButton {
  background-color: transparent;
  border: none;
  color: var(--color-red);
}

h3 {
  margin-left: var(--margine-micro);
  color: var(--color-yellow);
}
